@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');


:root {
    --color-golden: #c49250;
    --color-beige: #c0b6a0;
    --bg-color-dark: #161925;
    --bg-color-gray: #222123;
    --second-color: #c4b998;
    --query-bg-color: #2b2a29;
    --card-color: rgba(33, 33, 33, 0.2);
    --font-family: "Cinzel", serif;
    --border-box: 2px solid rgb(255, 255, 255, 5%);
    --box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}


html, body {
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-color-dark);
}


header {
    color: var(--color-golden);
    padding: 20px;
    text-align: center;
    margin: 10px;
}


/* barra de pesquisa */
#search-bar {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}


#query {
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px 8px 8px;
    border-radius: 24px;
    background-color: var(--query-bg-color);
}


#query-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    min-width: 32px;
    min-height: 32px;
    color: #fff;
}


#input-search {
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--query-bg-color);
    color: #fff;
}


/* conteúdo da página */
.container {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    padding: 20px 20px 20px 0;
    border-top: 2px solid #D9A74A;
    background-color: var(--bg-color-gray);
}


/* barra lateral */
#container-sidebar {
    position: sticky;
    top: 0;
    min-width: 180px;
    height: 100vh;
    padding: 20px;
}


/* botões da barra lateral */
#filter-buttons {
    display: flex;
    flex-direction: column;
    gap: 25px;
    list-style: none;
}


.filter-btn {
    text-decoration: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s, color 0.2s;
    color: var(--color-beige);
}


.filter-btn:hover {
    background-color: var(--color-beige);
    font-weight: bold;
    color: var(--bg-color-dark);
}




/* cartas */
.content-cards {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 0 20px 20px 0;
    color: var(--color-beige);
}


.card {
    text-align: center;
    border-radius: 10px;
    border: var(--border-box);
    box-shadow: var(--box-shadow);
    background-color: var(--card-color);
    padding: 10px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
    transform: perspective(1000px) translateZ(0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}


.card:hover {
    transform: perspective(1000px) translateZ(50px) scale(1.02);
    filter: brightness(0.9);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
    z-index: 10;
}


.card img {
    width: 100%;
    height: auto;
    display: block;
}